AUTH_SECRET=
AUTH_DEV_LOGIN=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_APPLE_ID=
AUTH_APPLE_SECRET=
AUTH_FACEBOOK_ID=
AUTH_FACEBOOK_SECRET=
AUTH_INSTAGRAM_ID=
AUTH_INSTAGRAM_SECRET=
AUTH_TIKTOK_ID=
AUTH_TIKTOK_SECRET=
HIVE_SERVICE_TOKEN=
